<html>

<head>
  <title>Raunak Daga</title>

  <style>
    body {
      font-family: monospace;
      font-size: 20px;
      background-color: #f9f1f1;
      margin: 40px;
      word-wrap: break-word;
      width: 800px;
    }

    .box {
      width: 100%;
      height: 100%;
      margin: auto;
      padding: 0px 0px 0px 0px;

    }

    a {
      color: inherit;
      /* text-decoration: inherit; */
    }
  </style>
</head>

<body>
  <a href="../index.html"><b>home</b><a />
    <div class="box">
      <p><b> eAbsentee </b></p>
      eAbsentee is an online absentee ballot request platform.
      it's built on a super simple Flask server with no hidden magic.
      it collects user data to help canvassers know what canvassing methods are working.
      </br>
      </br>
      in the 2019 local election cycle, eAbsentee helped 718 people
      apply for and receive absentee ballots. key metrics include applications from 76 counties,
      over 25 campaigns worked with, in around 5 weeks.
    </br>
  </br>
      check it out at <a href="https://eabsentee.org"> eAbsentee.org </a>
    </br>
      you can also read a <a href="https://www.washingtonpost.com/local/one-vote-can-change-everything-virginia/2019/11/04/86deb89e-ff26-11e9-9518-1e76abc088b6_story.html"> WaPo article about eAbsentee </a>

    </div>


</body>

</html>
