<html <head>
<title>Raunak Daga</title>

<style>
      body {
            font-family: monospace;
            font-size: 20px;
            background-color: #f5f5dc;
            margin: 40px;
      }

      .box {
            width: 100%;
            height: 100%;
            margin: auto;
            padding: 0px 0px 0px 0px;
      }

      a {
            color: inherit;
      }

      a:hover {
            background-color: #90EE90;
            cursor: pointer;
      }
</style>



</head>

<body>
      <div class="box">
            <b> raunak daga's flask site </b> <br />

            junior @ tjhsst <br>
            <!-- <b> socials </b> <br> -->
            <a href="mailto:raunakdaga@gmail.com">email</a><br>
            <a href="http://github.com/rau">github</a><br>
            <br>

            <b> projects </b> <br>
            <a href="/eabsentee"> eAbsentee (request your absentee ballot!) </a> <br>
            <a href="/ion">ionbot</a> <br>
            <a href="https://dmvdebate.me">dmv debate camp</a><br>


            <!-- </br> -->


            <!-- <b> articles </b> </br> -->
            <!-- <a href="https://www.greenwichtime.com/news/article/One-vote-can-change-everything-Virginia-14808878.php">eAbsentee featured in the Greenwich Times</a><br> -->
            <!-- under construction :) -->

            </br>
            </br>

            <b> random interesting things</b> <br>
            <a href="campkhan/index.html">very #awesome website tutorial</a> <br> -->
            <a href="https://medium.com/@raunakdaga/how-to-check-for-bounce-backed-emails-in-python-3-7-6ab0c297f81c">
                  how to check for bounce back emails in Python 3.7 </a> <br>
            <!-- <a href="https://www.washingtonpost.com/local/one-vote-can-change-everything-virginia/2019/11/04/86deb89e-ff26-11e9-9518-1e76abc088b6_story.html"> eAbsentee mentioned in the Washington Post </a> -->
            <br>
            <b> flask projects </b> <br>
            <a href="/upload"> image uploader </a>
      </div>
</body>

</html>