body {
      font-family: monospace;
      font-size: 20px;
      background-color: #f5f5dc;
      margin: 40px;
}

.center-puzzle {
      background-color: #FFDC00;
      width: 100px;
      height: 100px;
      margin: 0 auto;
}
