<html>
<head>
<title>Raunak Daga</title>

<style>
body {
font-family: monospace;
font-size: 20px;
background-color: #f9f1f1;
margin: 40px;
}

.box {
width: 100%;
height: 100%;
margin: auto;
padding: 0px 0px 0px 0px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

</style>
</head>

<body>
<a href="index.html"><b>home</b><a/>
<div class="box">
<p><b> ionbot </b></p>
are you sick of never getting the library study hall spot you want?<br>
wanted to attend biotechnology club but it was always full?<br>
download ionbot, and run it either the night before or the lunch of an 8th period day.
<br>
<br>
<b> how to use custom id </b>
<br>
<br>
on ion, find the activity you want a spot in but is full. in the right hand bar, <br>
search for a identifier called 'Activity ID'. that number is what you should input <br>
into the 'Custom' section on ionbot. leave the 'Activity' selection blank. <br>
<br>
<br>
<b> how it was made </b>
<br>
<br>
ionbot was built using selenium with python. i was annoyed because i could never get library <br>
study halls, so  i wanted to automate the process. i have a feeling this would not be approved <br>
by the computer systems lab, but it's ok. shhhh. <br>
<br>
<br>
<a href="dist.zip"><b>download windows version</b></a>
<br>
<a href="dist.zip"><b>mac version broke - sorry :()</b></a>
</div>


</body>
</html>
